body {
    width: 100%;
    min-height: 100vh;
    background-color: #c7c7c7;
}

.container {
    /* flex: 1; */

    /* largura da janela -250px */
    /* width: calc(100% - 250px); */
    margin-left: 250px;
    height: 100vh;
    /* background-color: #c7c7c7; */
}

#back-button {
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 250px;
    min-width: 15%;
    background-color: white;
    color: #343a40;
    padding: 35px;
    flex-direction: column;
    border-right: 3px solid #007bff;
    margin-bottom: 0;
}

.topbar {
    height: 150px;
    background-color: white;
    color: #343a40;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #007bff;
}



.sidebar h4 {
    margin-top: 20px;
}

.sidebar p {
    font-size: 14px;
    margin-bottom: 15px;
}

.table-responsive {
    margin-top: 20px;
}

.table-wrapper {
    margin-bottom: 20px;
    /* overflow-x: auto; */
}

.button-auth {
    padding-left: 25px;
    padding-right: 25px;
}

.corpoflex {
    /* width largura total do body -250px */
    width: 100%;
    background-color: #c7c7c7;
    height: auto;
}

.altura20px {
    height: 20px;
    background-color: blue;
}

#logoB {
    position: fixed;
    bottom: 10%;
    width: 10%;
}

#examTable {
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#col-visualizacao {
    width: 50px;
}

#col-tipoexame {
    width: 150px;
}

#examTable_wrapper {
    width: 100%;
}

@media (max-width: 1250px) {
    .sidebar {
        display: none;
    }

    .topbar {
        width: 100%;
    }

    .container {
        padding: 0;
        border: 0;
        margin-left: 10px;
        margin-right: 0;
        width: 100%;
    }

    #logoC {
        /* position: fixed; */
        margin-top: 40px;
        right: 10%;
        /* width: 10%; */
    }
}

@media (min-width: 1250px) {
    #logoC {
        display: none;
    }
    .topbar {
        display: none;
    }
}

@media (min-width: 1800px) {
    .container {
        margin-left: 15%;
        margin-right: 0;
    }

    body {
        font-size: 1.2em;
    }

    #sidelogo {
        width: 80%;
    }
}

